<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{{ page_title }}</title>
    <link rel="stylesheet" href="{{ 'tailwind.css' | asset_url }}">
</head>
<body>
    <header>
        <nav>
            <div class="logo-container">
                <a href="/">
                    <img src="{{ 'btlpop-rgb-UC-hor-filled.svg' | asset_url }}" alt="BTLPOP Logo">
                </a>
            </div>
            <ul>
                <li><a href="/">Home</a></li>
                <li><a href="/collections/all">Shop</a></li>
                <li><a href="/cart">Cart</a></li>
            </ul>
        </nav>
    </header>
    <main>
        {{ content_for_layout }}
    </main>
    <footer>
        <div class="footer-logo">
            <img src="{{ 'btlpop-rgb-white-hor-filled.svg' | asset_url }}" alt="BTLPOP Logo">
        </div>
        <p>&copy; {{ 'now' | date: '%Y' }} BottlePop. All rights reserved.</p>
    </footer>
    <script src="{{ 'alpine.js' | asset_url }}"></script>
</body>
</html>